.login-container {
    background: linear-gradient(to right, #194BAF, #C54E24) !important;
    height: 100vh !important;
    margin: 0% !important;
  }
  .background {
    width: 410px;
    height: 480px;
    margin-top: 2rem;
    padding-bottom: 5rem;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }
  .background .shape {
    height: 180px;
    width: 180px;
    position: absolute;
    border-radius: 50%;
  }
  .shape:first-child {
    background: linear-gradient(#1845ad, #23a2f6);
    left: -80px;
    top: -80px;
    margin-top: 2rem;
  }
  .shape:last-child {
    background: linear-gradient(to right, #ff512f, #f09819);
    right: -30px;
    bottom: -80px;
    margin-bottom: 2rem;
  }
  .background .shape_reg {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
  }
  .shape_reg:first-child {
    background: linear-gradient(#1845ad, #23a2f6);
    left: -410px;
    top: -80px;
    margin-top: 2rem;
  }
  .shape_reg:last-child {
    background: linear-gradient(to right, #ff512f, #f09819);
    right: -400px;
    bottom: -20px;
    margin-bottom: 2rem;
  }
  .login-form {
    margin-top: 2rem;
    height: 480px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
  }
  .login-form * {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
  }
  .login-form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
  }
  
  .login-label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
  }
  .login-input {
    display: block;
    height: 30px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
  }
  ::placeholder {
    color: #e5e5e5;
  }
  
  .social {
    margin-top: 30px;
    display: flex;
  }
  .social div {
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255, 255, 255, 0.27);
    color: #eaf0fb;
    text-align: center;
  }
  .social div:hover {
    background-color: rgba(255, 255, 255, 0.47);
  }
  
  